<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxControlToolkit" version="7.0607" targetFramework="net40" />
  <package id="CodeCarvings.Piczard" version="1.2.3.3" targetFramework="net40" />
  <package id="CodeCarvings.Piczard.ImageUpload" version="3.0.5" targetFramework="net40" />
  <package id="Subgurim.Maps" version="4.1.0.6" targetFramework="net40" />
</packages>