<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- Setup the Piczard configuration sections -->
    <sectionGroup name="codeCarvings.piczard">
      <section name="coreSettings" type="CodeCarvings.Piczard.Configuration.CoreSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
      <section name="webSettings" type="CodeCarvings.Piczard.Configuration.WebSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="ConString" connectionString="Data Source=localhost;Initial Catalog=BanglarPothe;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" protection="All" defaultUrl="Default.aspx" />
    </authentication>
    <authorization>
      <allow users="*" />
      <deny users="?" />
    </authorization>
    <httpRuntime requestValidationMode="2.0" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="gmaps" namespace="Subgurim.Controles" assembly="GMaps" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      <add tagPrefix="ccPiczard" namespace="CodeCarvings.Piczard.Web" assembly="CodeCarvings.Piczard" /><add tagPrefix="ccPiczardUC" tagName="SimpleImageUpload" src="~/piczardUserControls/simpleImageUploadUserControl/SimpleImageUpload.ascx" /></controls>
    </pages>
  <httpHandlers><!-- Add the Piczard HttpHandler --><!-- Piczard - Important information: Remove or comment the following *add* line if you are using IIS 7/8 Integrated Pipeline Mode with validateIntegratedModeConfiguration = True (HTTP error 500.22/500.23). --><add verb="*" path="piczardWebResource.ashx" validate="false" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard" /></httpHandlers></system.web>
  <appSettings>
    <!-- Add your Google Maps API Key from Google -->
    <add key="googlemaps.subgurim.net" value="" />
    <!-- And add your Commercial Key from Subgurim if you have purchased one -->
    <add key="googlemaps.subgurim.net_Commercial" value="" />
  </appSettings>
  <!-- Allow * Access to the Piczard HttpHandler (required when using Asp.Net Authentication) --><location path="AddInfo.aspx">
    <system.web>
      <authorization>
        <allow users="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DataEdit.aspx">
    <system.web>
      <authorization>
        <allow users="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="AdminPage.aspx">
    <system.web>
      <authorization>
        <allow users="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
<!-- Piczard configuration sections --><codeCarvings.piczard><coreSettings><drawing maxImageSize="5000, 5000" /><imageArchiver defaultJpegQuality="92" defaultQuantizeGifImages="true" /><security defaultEncryptionKey="Place here your random key (alphanumeric / 10..20 chars)" /><plugins><!-- Register here your Piczard Plugins. --><!-- === EXAMPLE: DeBrand Plugin for Piczard by Digivogue - http://digivogue.com/products/Piczard-DeBrand/ ===
			<plugin type="Digivogue.Plugins.Piczard.DeBrand.DeBrandPiczardPlugin, Digivogue.Plugins.Piczard.DeBrand">
				<license number="..." key="..." />
			</plugin>
			========= --></plugins></coreSettings><webSettings><webResource enableCompression="true" /><pictureTrimmer autoDeleteTemporaryFiles="true" /><temporaryFileManager folderPath="~/App_Data" autoDeleteFiles="true" maxFileLifeTime="180" /></webSettings></codeCarvings.piczard><location path="piczardWebResource.ashx"><system.web><authorization><allow users="*" /></authorization></system.web></location><!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7/8.  It is not necessary for previous version of IIS.
    --><system.webServer><handlers><!-- Add the Piczard HttpHandler --><add name="PiczardWebResource" verb="*" path="piczardWebResource.ashx" preCondition="integratedMode" type="CodeCarvings.Piczard.Web.WebResourceManager, CodeCarvings.Piczard" /></handlers><validation validateIntegratedModeConfiguration="false" /></system.webServer></configuration>